body {
    background-color:#d3d3d31f;
}

nav li {
    display: inline;
}

nav a{
    text-transform: uppercase;
    color: rgb(255, 0, 119);
    background-color: #ff0000;
}

.texto-principal {
    margin-right: 20%;
}

h1 {
    color: #00ff0d;
    text-align: center;
}
h2 {
    color: rgb(255, 208, 0);
}
p {
    color: rgb(234, 0, 255);

}
#imagem-principal {
    width: %;
    margin-left: 80%;
    border: 5px dotted rgb(6, 255, 201);
    float: left;
    position: absolute;
}

.itens {
    color:  #0011ff;
    text-decoration: underline;
}
.texto-principal {
    margin-right: 20%;
}